<div class="modal__container modal__container--signin">
  <div class="modal__center">
    <h3 class="modal__heading">Kirjaudu sisään</h3>
    <p class="signin__info"></p>
    <form class="signin__form">
      <div class="form-element-wrapper">
        <label class="signin__form__label signin__form__label--username" for="userName"></label>
        <input id="userName" class="signin__form__input username" name="username" type="text" placeholder="Käyttäjätunnus/sähköpostiosoite">
      </div>
      <div class="form-element-wrapper">
        <label class="signin__form__label signin__form__label--password" for="password"></label>
        <input id="password" class="signin__form__input password" name="password" type="password" placeholder="Salasana">
      </div>
      <a class="signin__form-forgot-pass" href="">Unohtuiko salasana?</a>
      <button class="signin__form__submit"><span>Kirjaudu sisään</span></button>
    </form>
    <a class="not-registered" href="">
      <span class="not-registered__heading">Etkö ole rekisteröitynyt?</span>
      <span class="not-registered__sub">Rekisteröidy</span>
    </a>
  </div>
  <div class="modal-close__button signin-close">
    <span class="modal-close__button__icon fa fa-times"></span>
  </div>  
</div>