<div class="modal__container">
  <div class="modal__center">
    <h3 class="modal__heading">Kirjaudu sisään</h3>
    <form class="signin__form">
      <label class="signin__form__label" for="userName"><span class="signin__form__label--username-icon"></span></label>
      <input id="userName" class="signin__form__username" name="username" type="text" placeholder="Käyttäjätunnus/sähköpostiosoite">
      <label class="signin__form__label" for="password"><span class="signin__form__label--password-icon"></span></label>
      <input id="password" class="signin__form__password" name="password" type="password" placeholder="Salasana">
      <button class="signin__form__submit">Kirjaudu sisään</button>
    </form>
  </div>
</div>