<div class="product-component">
  <div class="product-list-container">
    <ul class="product-list">
      <li class="product-list__item">
        <div class="product-list__item__header">
          <div class="product-list__item-float product-list__item__game">Jääkiekko</div>
          <div class="product-list__item-float product-list__item__country">Sveitsi NLA</div>
          <div class="product-list__item-float product-list__item__divider"></div>
          <div class="product-list__item-float product-list__item__contestants">
            <span class="contestant">Davos</span>
            <span class="contestant-divider">–</span>
            <span class="contestant">Zug</span>
          </div>
          <div class="product-list__item__icon">
            <span class="product-list__item__icon--plus">
              @@include('../../assets/icons/svg/black/plus.svg')
            </span>
            <span class="product-list__item__icon--minus">
              @@include('../../assets/icons/svg/black/minus.svg')
            </span>
          </div>
        </div>
        <div class="product-list__item__description">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        </div>
      </li>
    </ul>
  </div>
</div>