<div class="product-list-component">
  <ul class="product-list">
    <li class="product-list__item">
      <div class="product-list__description product-list__description--raise">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button product-list__button--enabled"><span>Lue vihje</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
    <li class="product-list__item">
      <div class="product-list__description">
        <div class="product-list__heading">Päivän kuumin</div>
        <div class="product-list__price">3,50€</div>
      </div>
      <div class="product-list__purchase">
        <button class="product-list__button"><span>Osta</span></button>
      </div>
    </li>
  </ul>
</div>