<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sportrocks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script type="text/javascript" src="scripts.js"></script>
  </head>
  <body>
    @@include('../../components/header/header.html')
    <div class="main-container">
      <section class="account">
        <div class="account__container">
          <h3 class="account__container__heading">Tilin hallinta</h3>
          <div class="account__column">
            <form class="user-account-info">
              <div class="account__row">
                <div class="account__email account__column__item">Sähköposti</div>
                <input class="account-input" value="mister.z@hardbody.com" type="email" name="account_email">
              </div>
              <div class="account__row">
                <div class="account__column__item">Käyttäjätunnus</div>
                <input class="account-input" value="MisterZ" type="text" name="account_username">
              </div>
              <div class="account__row">
                <div class="account__column__item">Etunimi</div>
                <input class="account-input" value="Janne" type="text" name="account_firstname">
              </div>
              <div class="account__row">
                <div class="account__column__item">Sukunimi</div>
                <input class="account-input" value="Z" type="text" name="account_lastname">
              </div>
              <div class="account__row">
                <div class="account__column__item">Osoite</div>
                <input class="account-input" value="Kauppakatu" type="text" name="account_street">
              </div>
              <div class="account__row">
                <div class="account__column__item">Postinumero</div>
                <input class="account-input" value="666" type="text" name="account_zip">
              </div>
              <div class="account__row">
                <div class="account__column__item">Postitoimipaikka</div>
                <input class="account-input" value="Kuopio" type="text" name="account_city">
              </div>
              <div class="account__row">
                <div class="account__column__item">Puhelin</div>
                <input class="account-input" value="0700-SOITELLAAN" type="text" name="account_phone">
              </div>
              <div class="account__row">
                <div class="account__password__heading account__column__item">Vaihda salasana</div>
                <div class="account__password">
                  <label for="currentPass">Nykyinen salasanasi</label>
                  <input class="account-input" id="currentPass" type="password" name="account_old_password">
                  <label for="newPass">Uusi salasanasi</label>
                  <input class="account-input" id="newPass" type="password" name="account_new_password">
                  <label for="retypePass">Toista uusi salasanasi</label>
                  <input class="account-input" id="retypePass" type="password" name="account_retype_password">
                </div>
              </div>
              <div class="account__column__submit">
                <button class="cancel" type="reset">Peruuta</button>
                <button class="save" type="submit">Tallenna</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <section class="active-products">
        <h2 class="active-products__heading">Aktiiviset tuotteesi</h2>
        <div class="active-product active-product--package">
          <h3 class="active-product__heading">Lukupaketin lukuoikeus</h3>
          <p class="active-product__duration">
            Ostamasi lukupaketin oikeuttamaa lukuaikaa jäljellä:  4 h 39 min
          </p>
        </div>

        <div class="active-product">
          <h3 class="active-product__heading">Jääkiekko Kansainväliset Sarjat  </h3>
          <p class="active-product__activation-time">
            Ostettu:<span>24.08.2015 klo: 17:41:58</span>
          </p>
          <div class="active-product__description">
            <p class="row">SM, NHL, KHL, DEL, Tsekki/Extra Liiga, Sveitsi/NLB ym.</p>
            <p class="row content">Sisältää analysoituja pelejä 1-6 kappaletta.</p>
          </div>
          <p class="active-product__duration">
            Lukuaikaa jäljellä:<span>128 päivää 4 h 39 min</span>
          </p>
          <a class="active-product__open" href=""></a>
        </div>

        <div class="active-product">
          <h3 class="active-product__heading">Jääkiekko Sveitsi NLA</h3>
          <p class="active-product__activation-time">
            Ostettu:<span>21.08.2015 klo: 16:32:06</span>
          </p>
          <div class="active-product__description">
            <p class="row">Erittäin tuottoisa Sveitsin jääkiekkosarja.</p>
            <p class="row content">Sisältää analysoituja pelejä 1-6 kappaletta.</p>
          </div>
          <p class="active-product__duration">
            Lukuaikaa jäljellä:<span>97 päivää 4 h 39 min</span>
          </p>
          <a class="active-product__open" href=""></a>
        </div>

      </section>
      <section class="account-deposit">
        <div class="account-deposit__container">
          <a href="" class="account-deposit__link" type="submit">Tee talletus</a>
        </div>
      </section>
    </div>
    @@include('../../components/footer/footer.html')
    @@include('../../components/signin/signin.html')
    @@include('../../components/register/register.html')
    <div class="modal-shadow"></div>
  </body>
</html>