.account
  max-width: 570px
  margin: 0 auto

  &__container
    padding: 50px 44px
    background-color: #fff
    overflow: hidden

    &__heading
      text-transform: uppercase
      margin: 0 0 24px

  &__column
    width: 50%
    height: 350px
    font-size: 14px

    &--left
      float: left

    &--right
      float: right

    &--15
      height: 15%

    &--30
      height: 30%

    &--40
      height: 40%

.user-account-info
  height: inherit

  .change-password,
  .change-email,
  .change-contacts
    color: $accountLinkColor
    display: inline-block

  .change-email
    margin-top: 16px

  .change-contacts
    margin-top: 26px

  .user-name,
  .user-address,
  .user-phone
    display: block
    margin-bottom: 6px