<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Sportrocks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="text/javascript" src="scripts.js"></script>
</head>
<body>
  @@include('../../components/header/header.html')
  <div class="main-container">
    <section class="site-description">
      <h2 class="site-description__heading">Tuotteet</h2>
      @@include('../../components/infobox/infobox.html')
    </section>
    <section class="product-section">
      @@include('../../components/products/product-list.html')
      <div class="product-section__footer">
        <a href="" class="product-section__footer__link"><span>Hinnasto</span></a>
      </div>
    </section>
    <section class="deposit">
      @@include('../../components/deposit/deposit.html')
    </section>
  </div>
  @@include('../../components/footer/footer.html')
</body>
</html>