<div class="deposit-component">
  <h2 class="deposit__heading">Talleta rahaa</h2>
  <p class="deposit__description">Täytä ensin kenttään haluamasi rahamäärä ja
paina sitten tee talletus-painiketta.</p>
  <h4 class="deposit__subheading">Talletettava rahamäärä</h4>
  <form name="depositForm" class="deposit__form" action="" method="">
    <div class="deposit__input-container">
      <input id="depositAmount" class="deposit__amount" type="text" name="depositAmount">
      <label for="depositAmount">Euroa</label>
    </div>
    <div class="deposit__submit-container">
      <button class="deposit__submit" type="submit">Tee talletus</button>
    </div>
  </form>
</div>