<section class="header">
  <div class="header-content">
    <div class="logo-container">
      <a class="home-link" href="/"><img src="assets/images/logo/logo.png" alt="Sportrocks"></a>
    </div>
    <div class="menu-toggle">
      <span class="menu-toggle__icon fa fa-bars"></span>
    </div>
    <nav class="navigation">
      <ul class="menu">
        <li class="menu__item">
          <a href="" class="menu__link">TUOTTEET
            <span class="menu__link__icon fa fa-chevron-right"></span>
          </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">TULOKSET
            <span class="menu__link__icon fa fa-chevron-right"></span>
          </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">HINNASTO
            <span class="menu__link__icon fa fa-chevron-right"></span>
          </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">INFO
            <span class="menu__link__icon fa fa-chevron-right"></span>
          </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link menu__link--signin">KIRJAUDU
            <span class="menu__link__icon fa fa-chevron-right"></span>
          </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">TALLETA RAHAA
            <span class="menu__link__icon fa fa-chevron-right"></span>
          </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">TILIN HALLINTA
            <span class="menu__link__icon fa fa-chevron-right"></span>
          </a>
        </li>
        <li class="menu__item username">
          <a href="" class="menu__link">KÄYTTÄJÄNIMI
            <span class="menu__link__icon fa fa-chevron-right"></span>
          </a>
        </li>
        <li class="menu__item balance">
          <a href="" class="menu__link">49,50€
            <span class="menu__link__icon fa fa-chevron-right"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>