<div class="modal__container modal__container--register">
  <div class="modal__center">
    <h3 class="modal__heading">Luo oma tilisi</h3>
    <form class="register__form">
      <div class="form-element-wrapper">
        <input class="register__form__input" name="username" type="text" placeholder="Käyttäjätunnus">
      </div>
      <div class="form-element-wrapper">
        <label class="register__form__label register__form__label--email" for="email"></label>
        <input id="email" class="register__form__input" name="email" type="text" placeholder="Sähköpostiosoite">
      </div>
      <div class="form-element-wrapper">
        <label class="register__form__label register__form__label--password" for="registerPassword"></label>
        <input id="registerPassword" class="register__form__input" name="register-password" type="password" placeholder="Salasana">
      </div>
      <div class="form-element-wrapper">
        <input class="register__form__input" name="retype-password" type="password" placeholder="Vahvista salasana">
      </div>
      <button class="register__form__submit"><span>Luo tili</span></button>
      <div class="form-element-wrapper form-element-wrapper--accept">
        <label class="register__form__accept" for="acceptance">Hyväksyn Sportrocks verkkosivuston, käyttöehdot, tietosuojakäytännön ja lisensointiehdot.</label>
        <input id="acceptance" class="register__form__checkbox" name="acceptance" type="checkbox">
      </div>
      <a class="not-registered" href="http://www.jankkan.com/Sportrock2/index.php/mainsite/etusivu/kirjaudu">
        <span class="not-registered__heading">Oletko jo rekisteröitynyt?</span>
        <span class="not-registered__sub">Kirjaudu sisään.</span>
      </a>
    </form>
  </div>
  <div class="modal-close__button register-close">
    <span class="modal-close__button__icon fa fa-times"></span>
  </div>  
</div>