<div class="prices-component">
  <div class="prices-list-container">
    <ul class="prices-list">
      <li class="prices-list__item">
        <div class="prices-list__item__top">
          <div class="prices-list__item__title left">
            <h4 class="prices-list__item__heading">Jalkapallo Sveitsi NLA</h4>
          </div>
          <div class="prices-list__item__price right"><h4 class="prices-list__item__heading">3,50€</h4></div>
        </div>
        <div class="prices-list__item__bottom">
          <div class="prices-list__item__description left">
            <p class="prices-list__item__description__text">Päivän analysoidut pelit, esim Englanti, Italia, Ranska, Espanja</p>
          </div>
          <div class="prices-list__item__analysis right">
            <p class="prices-list__item__analysis__text">1-6 analyysia</p>
          </div>
        </div>
      </li>
      <li class="prices-list__item">
        <div class="prices-list__item__top">
          <div class="prices-list__item__title left">
            <h4 class="prices-list__item__heading">Jalkapallo Sveitsi NLA</h4>
          </div>
          <div class="prices-list__item__price right"><h4 class="prices-list__item__heading">3,50€</h4></div>
        </div>
        <div class="prices-list__item__bottom">
          <div class="prices-list__item__description left">
            <p class="prices-list__item__description__text">Päivän analysoidut pelit, esim Englanti, Italia, Ranska, Espanja</p>
          </div>
          <div class="prices-list__item__analysis right">
            <p class="prices-list__item__analysis__text">1-6 analyysia</p>
          </div>
        </div>
      </li>
      <li class="prices-list__item">
        <div class="prices-list__item__top">
          <div class="prices-list__item__title left">
            <h4 class="prices-list__item__heading">Jalkapallo Sveitsi NLA</h4>
          </div>
          <div class="prices-list__item__price right"><h4 class="prices-list__item__heading">3,50€</h4></div>
        </div>
        <div class="prices-list__item__bottom">
          <div class="prices-list__item__description left">
            <p class="prices-list__item__description__text">Päivän analysoidut pelit, esim Englanti, Italia, Ranska, Espanja</p>
          </div>
          <div class="prices-list__item__analysis right">
            <p class="prices-list__item__analysis__text">1-6 analyysia</p>
          </div>
        </div>
      </li>
      <li class="prices-list__item">
        <div class="prices-list__item__top">
          <div class="prices-list__item__title left">
            <h4 class="prices-list__item__heading">Jalkapallo Sveitsi NLA</h4>
          </div>
          <div class="prices-list__item__price right"><h4 class="prices-list__item__heading">3,50€</h4></div>
        </div>
        <div class="prices-list__item__bottom">
          <div class="prices-list__item__description left">
            <p class="prices-list__item__description__text">Päivän analysoidut pelit, esim Englanti, Italia, Ranska, Espanja</p>
          </div>
          <div class="prices-list__item__analysis right">
            <p class="prices-list__item__analysis__text">1-6 analyysia</p>
          </div>
        </div>
      </li>
      <li class="prices-list__item">
        <div class="prices-list__item__top">
          <div class="prices-list__item__title left">
            <h4 class="prices-list__item__heading">Jalkapallo Sveitsi NLA</h4>
          </div>
          <div class="prices-list__item__price right"><h4 class="prices-list__item__heading">3,50€</h4></div>
        </div>
        <div class="prices-list__item__bottom">
          <div class="prices-list__item__description left">
            <p class="prices-list__item__description__text">Päivän analysoidut pelit, esim Englanti, Italia, Ranska, Espanja</p>
          </div>
          <div class="prices-list__item__analysis right">
            <p class="prices-list__item__analysis__text">1-6 analyysia</p>
          </div>
        </div>
      </li>
      <li class="prices-list__item">
        <div class="prices-list__item__top">
          <div class="prices-list__item__title left">
            <h4 class="prices-list__item__heading">Jalkapallo Sveitsi NLA</h4>
          </div>
          <div class="prices-list__item__price right"><h4 class="prices-list__item__heading">3,50€</h4></div>
        </div>
        <div class="prices-list__item__bottom">
          <div class="prices-list__item__description left">
            <p class="prices-list__item__description__text">Päivän analysoidut pelit, esim Englanti, Italia, Ranska, Espanja</p>
          </div>
          <div class="prices-list__item__analysis right">
            <p class="prices-list__item__analysis__text">1-6 analyysia</p>
          </div>
        </div>
      </li>
      <li class="prices-list__item">
        <div class="prices-list__item__top">
          <div class="prices-list__item__title left">
            <h4 class="prices-list__item__heading">Jalkapallo Sveitsi NLA</h4>
          </div>
          <div class="prices-list__item__price right"><h4 class="prices-list__item__heading">3,50€</h4></div>
        </div>
        <div class="prices-list__item__bottom">
          <div class="prices-list__item__description left">
            <p class="prices-list__item__description__text">Päivän analysoidut pelit, esim Englanti, Italia, Ranska, Espanja</p>
          </div>
          <div class="prices-list__item__analysis right">
            <p class="prices-list__item__analysis__text">1-6 analyysia</p>
          </div>
        </div>
      </li>
      <li class="prices-list__item">
        <div class="prices-list__item__top">
          <div class="prices-list__item__title left">
            <h4 class="prices-list__item__heading">Jalkapallo Sveitsi NLA</h4>
          </div>
          <div class="prices-list__item__price right"><h4 class="prices-list__item__heading">3,50€</h4></div>
        </div>
        <div class="prices-list__item__bottom">
          <div class="prices-list__item__description left">
            <p class="prices-list__item__description__text">Päivän analysoidut pelit, esim Englanti, Italia, Ranska, Espanja</p>
          </div>
          <div class="prices-list__item__analysis right">
            <p class="prices-list__item__analysis__text">1-6 analyysia</p>
          </div>
        </div>
      </li>
      <li class="prices-list__item">
        <div class="prices-list__item__top">
          <div class="prices-list__item__title left">
            <h4 class="prices-list__item__heading">Jalkapallo Sveitsi NLA</h4>
          </div>
          <div class="prices-list__item__price right"><h4 class="prices-list__item__heading">3,50€</h4></div>
        </div>
        <div class="prices-list__item__bottom">
          <div class="prices-list__item__description left">
            <p class="prices-list__item__description__text">Päivän analysoidut pelit, esim Englanti, Italia, Ranska, Espanja</p>
          </div>
          <div class="prices-list__item__analysis right">
            <p class="prices-list__item__analysis__text">1-6 analyysia</p>
          </div>
        </div>
      </li>
      <li class="prices-list__item">
        <div class="prices-list__item__top">
          <div class="prices-list__item__title left">
            <h4 class="prices-list__item__heading">Ennakkopaketit - ota yhteyttä!</h4>
          </div>
        </div>
      </li>
    </ul>
    <div class="prices-list-return">
      <a class="prices-list-return__button" href="">Palaa tuotteisiin</a>
    </div>
  </div>
</div>