.main-container
  margin-top: 64px
  padding: 30px 16px 0
  min-height: 400px

  +breakpoint($m)
    margin-top: 73px

  +breakpoint($l)
    padding: 40px 0 0

.site-description

  &__heading
    text-align: center
    color: #fff
    font-weight: 700
    text-transform: uppercase
    margin: 0 0 26px
    line-height: 1em

  &__complementary
    color: #fff
    font-weight: 400
    margin: 0 0 38px
    text-align: center